  .loader-container {
    display: none;
    &.active{
        display: flex;
    }
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: $white;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    .loader {
        border: 4px solid rgba(0, 0, 0, 0.1);
        border-top: 4px solid $main;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        animation: spin 1s linear infinite;
        margin-right: 10px;
      }
    p {
        font-size: 20px;
        font-weight: 600;
        color: $black;
      }
  }
  
  
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  