.modal-container{
    &.open{
        display: flex;
    }
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 120%;
    background-color: rgba($color: $black, $alpha: 0.2);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
    
    &.city-modal{
        padding-top: 40px;
        align-items: start;
    }
    .modal{
        @extend %card;
        width: 40%;
        padding: 20px;
        cursor:default;
        position: relative;
        .exit{
            font-size: 20px;
            font-weight: 600;
            font-family: 'Dodo';
            color: $lightgrey;
            position: absolute;
            top: 2%;
            right: 2%;
            padding: 4px 10px;
            border-radius: 6px;
            cursor: pointer;
            transition: 0.4s;
        }
        .modal-content{
            display: flex;
            align-items: center;
            justify-content: space-between;
            &.tasks{
                flex-direction: column;
                padding-top: 20px;
                .division-member{
                    width: 96%;
                }
            }
            .user-img{
                width: 40%;
                padding-top: 40%;
                position: relative;
                border-radius: 8px;
                img{
                    @extend %img;
                    border-radius: 8px;
                }
            }
            .user-info{
                width: 55%;
                display: flex;
                flex-direction: column;
                gap: 8px;
                h4{
                    font-size: 18px;
                    text-transform: capitalize;
                }
                p{
                    font-size: 16px;
                    color: $lightgrey;
                }
            }
            form{
                width: 80%;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                gap: 12px;
                .select{
                    &.active{
                        .select-inner{
                            display: flex;
                        }
                    }
                    .select-inner{
                        padding-bottom: 10px;
                        display: none;
                        flex-direction: column;
                        gap: 8px;
                        top: 125%;
                    }
                }
                p{
                    margin-bottom: -10px;
                    font-size: 14px;
                    color: $lightgrey;
                }
                input{
                    width: 100%;
                    @extend %card;
                    padding: 12px;
                }
            }
        }

    }
}