.test-results{
    margin-top: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    .toggle-filter{
        width: 100%;
        display: none;
    }
    .title{
        padding: 0;
        margin-bottom: 16px;
        font-size: 30px;
    }
    .results-info{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
    }
    .results-container{
        @extend %card;
        padding: 2% 0 2% 2%;
        width: 60%;
        height: 600px;
        position: relative;
        .results{
            height: 85%;
            overflow-y: scroll;
            padding-right: 2%;
            &::-webkit-scrollbar {
                width: 6px;
            }
              
            &::-webkit-scrollbar-thumb {
                background-color: $main;
            }
              
            &::-webkit-scrollbar-thumb:hover {
                background-color: $mainDark;
            }
        }
        .nav-buttons{
            position: absolute;
            top: 90%;
            right: 3%;
            .btn-main{
                width: 80px;
            }
        }
    }
}
.equipment-info{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    .equipment-container{
        @extend %card;
        padding: 2% 0 2% 2%;
        width: 98%;
        .btn-main{
            display: none;
        }
        .title{
            padding: 0;
            margin-bottom: 16px;
            font-size: 30px;
        }
        .equipment-stats{
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            padding-bottom: 5px;
            gap:16px;
            @extend %card;
            &.hide{
                display: none;
            }
            &:not(:last-child){
                margin-bottom: 15px;
            }
            p{
                font-size: 16px;
            }
            .text-container{
                width: 96%;
                gap: 20px;
                .name{
                    font-size: 14px;
                }
                .school{
                    color: $lightgrey;
                }
            }
            .img-cover{
                width: 50px;
                height: 50px;
                position: relative;
                border-radius: 100%;
                img{
                    @extend %img;
                    border-radius: 100%;
                }
            }
            .date,.time{
                width: 21%;
                text-align: center;
            }
        }
    }
    
}
