@media screen and (max-width:450px){
    .btn-main,.btn-red{
        padding: 6px;
    }
    .division-member .member-info .img-cover{
        display: none;
    }
    .division-member .text-container{
        gap: 5px;
        width: 35%;
        margin-right: 8px;
    }
    .division-member .member-info .text-container{
        gap: 5px; 
    }
    .about-user .user-divisions .divisions{
        padding: 0;
    }
    
}
@media screen and (max-width:1100px) {
    .form-container .auth{
        width: 90%;
        padding: 2%;
    }
    h1{
        font-size: 30px;
    }
    section{
        margin-bottom: 20px;
    }
    .side-bar{
        display: none;
        animation-duration: 300ms;
        animation-direction: normal;
        &.open{
            display: flex;
            width: 80vw;
            z-index: 999;
            background-color: $main;
            padding-top: 20px;
            animation-name: openSidebar;
        }
        &-item{
            font-size: 18px;
            svg{
                height: 20px;
            }
        }
    }
    
    .wrapper{
        left: 0%;
        top: 0;
        padding: 2%;
        width: 96%;
        header .container{
            padding: 10px 14px;
        }
        header .container .burger-menu{
            display: flex;
            flex-direction: column;
            gap: 3px;
            cursor: pointer;
            .line{
                width: 16px;
                height: 2px;
                background-color: $white;
            }
        }
        p{
            font-size: 14px;
        }
        header .container .page-title-container{
            svg{
                display: none;
            }
            
        }
        header .container .nav-menu{
            width: 50%;
        }
        header .container .nav-menu .choose-language p{
            font-size: 14px;
        }
        header .container .nav-menu .profile-preview p{
            font-size: 12px;
        }
        .title{
            padding: 16px 0;
            font-size: 24px;
        }
        h2{
            font-size: 20px;
        }
        .user-profile .profile-card .avatar{
            width: 100px;
            height: 100px;
        }
        .about-user{
            flex-direction: column;
            gap: 20px;
        }
        .about-user .user-info{
            width: 96%;
            padding: 2%;
        }
        .about-user .user-info h3{
            font-size: 18px;
        }
        .about-user .user-info h4{
            font-size: 16px;
        }
        .about-user .user-divisions h3{
            font-size: 18px;
        }
        .about-user .user-divisions{
            padding: 2%;
            width: 96%;
            height: 650px;
        }
        .division-member .member-info{
            width: 45%;
        }
        .about-user .user-info .user-img label{
            font-size: 14px;
        }
    } 
    .user-profile .profile-card .card-content .info span{
        font-size: 14px;
    }
    .modal-container .modal{
        width: 80%;
        .modal-content{
            flex-wrap: wrap;
            .user-img{
                width: 75%;
                padding-top: 75%;
                margin-bottom: 10px;
            }
            .user-info{
                width: 100%;
                h4{
                    font-size: 16px;
                }
                p{
                    font-size: 14px;
                }
            }
        }
    }
    .test-results{
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
    }
    .test-results .results-container, .test-results .equipment-container{
        width: 96%;
    }
    .members .edit-column svg{
        height: 1.2em;
        padding: 4px;
    }
    .members .column{
        text-align: center;
    }
    .filter-container{
        display: none;
        width: 96%;
        height: fit-content;
        margin-bottom: 12px;
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
        animation-duration: 300ms;
        &.open{
            display: block;
        }
        .d-flex{
            display: flex;
            justify-content: space-between;
        }
        .btn-main{
            display: block;
        }
        .filter-title{
            font-size: 24px;
        }
        .filter-inner {
            p{
                font-size: 12px;
            }
            
        }
    }
    .equipment-info .equipment-container .toggle-filter{
        display: block;
        margin-right: 2%;
    }
    .test-results .toggle-filter{
        display: block;
        padding: 6px 0;
        width: 98%;
    }
    .equipment-info .equipment-container{
        width: 100%;
    }
    .test-results .title{
        margin-bottom: 0;
    }
    .test-results .results-info{
        flex-direction: column;
    }
    .row p {
        font-size: 12px;
    }
    .devices .column.actions-column{
        svg{
            height: 1em;
        }
    }
}

@keyframes openSidebar {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes closeSidebar {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}
@keyframes openFilter {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes closeFilter {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-100%);
    }
}