@mixin btn($bgColor){
    width: fit-content;
    padding: 6px 14px;
    font-weight: 600;
    background-color: rgba($color: $bgColor, $alpha: 0.3);
    border: 1px solid transparent;
    border-radius: 8px;
    color: $main;
    font-family: 'Dodo';
    text-transform: capitalize;
    transition: 0.4s;
}

@mixin activeBtn($color){
    cursor: pointer;
    color: $white;
    background-color: $mainDark;
}