@import "default";
@import "fonts";
@import "colors";
@import "mixin";

body {
  background-color: $background;
}
.wrapper {
  position: absolute;
  top: 2%;
  left: 18%;
  width: 81%;
}
section {
  margin-bottom: 40px;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Dodo";
  color: $black;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
.d-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.text-container {
  display: flex;
  gap: 10px;
  align-items: baseline;
}
%card {
  border-radius: 6px;
  background-color: $white;
  box-shadow: 2px 2px 5px 2px rgba($color: $main, $alpha: 0.1);
}
%img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.title {
  padding: 30px 0;
  font-size: 36px;
  font-weight: 600;
  color: $black;
}
.btn-main {
  @include btn($main);
  &:hover {
    @include activeBtn($mainDark);
  }
}
.btn-red {
  @include btn($red);
  color: $red;
  &:hover {
    @include activeBtn($red);
    background-color: $red;
  }
}

// header styles
header {
  .container {
    box-shadow: 0 0 5px 2px rgba($color: $mainDark, $alpha: 0.15);
    margin: 10px auto;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: $main;
    p {
      color: $white;
    }
    svg{
      fill: $white;
    }
    font-family: "Dodo";
    .burger-menu {
      display: none;
    }
    .page-title-container {
      gap: 12px;
      font-size: 20px;
      align-items: baseline;
    }
    .nav-menu {
      position: relative;
      width: 20%;
      .btn-main{
        display: none;
        @include btn($red);
        color: $red;
        @extend %card;
        position: absolute;
        top: 130%;
        right: 0;
        z-index: 999;
        text-decoration: none;
        &.active{
          display: block;
        }
      }
      .choose-language {
        gap: 10px;
        p {
          cursor: pointer;
          font-weight: 300;
          font-size: 20px;
          padding: 4px 10px;
          border-radius: 6px;
          &.active {
            font-weight: 600;
            background-color: $white;
            color: $main;
          }
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .profile-preview {
        flex-direction: column-reverse;
        align-items: center;
        &:hover {
          cursor: pointer;
        }
        p {
          font-size: 14px;
        }
        .img-cover {
          position: relative;
          width: 40px;
          height: 40px;
          border-radius: 100%;
          margin-left: 12px;
          .avatar {
            @extend %img;
            border-radius: 100%;
          }
        }
      }
    }
  }
}

//sidebar styles
.side-bar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 15vw;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1vw;
  height: 100vh;
  box-shadow: 0 0 5px 2px rgba($color: $mainDark, $alpha: 0.15);
  background-color: $main;
  .d-flex {
    justify-content: flex-start;
    gap: 16px;
  }
  &-item {
    padding: 5px 12px;
    border-radius: 5px;
    text-decoration: none;
    font-family: "Dodo";
    p {
      color: $white;
      font-size: 20px;
    }
    svg {
      height: 30px;
      fill: $white;
    }
    cursor: pointer;
    &.active {
      svg {
        fill: $main;
      }
      p {
        color: $main;
      }

      background-color: rgba($color: $white, $alpha: 1);
    }
    &:not(.active) {
      &:hover {
        background-color: rgba($color: $white, $alpha: 0.15);
      }
    }
  }
  .logo {
    height: 40px;
    width: 210px;
    position: relative;
    cursor: pointer;
    img {
      @extend %img;
    }
  }
}


//about user

.about-user {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  height: 650px;
  label {
    opacity: 100;
    display: flex;
    transition: 0.3s;
    width: 90%;
    margin: 0 auto;
    padding: 1% 2%;
    background-color: $main;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    span {
      color: $white;
      font-family: "Dodo";
      text-transform: capitalize;
      text-align: center;
    }
  }
  .user-info {
    @extend %card;
    width: 32%;
    padding: 2%;
    .user-img {
      width: 60%;
      padding-top: 60%;
      margin: 0 auto;
      border-radius: 8px;
      position: relative;
      
      .text-container{
        position: absolute;
        top: 40%;
        left: 20%;
        width: 60%;
        flex-direction: column;
        align-items: center;
        text-align: center;
        svg{
          height: 2em;
        }
      }
      img {
        @extend %img;
        border-radius: 4px;
        z-index: 3;
      }
    }
    .btn{
      @include btn($lightgrey);
      color: $lightgrey;
      margin: 10px auto;
    }
    h3 {
      font-size: 24px;
      color: $black;
      text-transform: capitalize;
      margin-bottom: 16px;
    }
    .text-container {
      h4 {
        font-size: 18px;
        color: $black;
        font-weight: 500;
        text-transform: capitalize;
      }
      svg {
        fill: $black;
      }
      p {
        color: $lightgrey;
      }
      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }
  }
  .user-divisions {
    width: 58%;
    @extend %card;
    padding: 2%;
    .divisions{
      height: 90%;
      overflow-y: scroll;
      padding-right: 2%;
            &::-webkit-scrollbar {
                width: 6px;
            }
              
            &::-webkit-scrollbar-thumb {
                background-color: $main;
            }
              
            &::-webkit-scrollbar-thumb:hover {
                background-color: $mainDark;
            }
    }
    h3 {
      font-size: 24px;
      margin-bottom: 16px;
      text-transform: capitalize;
    }
  }
}
.division-member {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 5px;
  &.hide {
    display: none;
  }
  &:not(:last-child) {
    margin-bottom: 16px;
    border-bottom: 1px solid $stroke;
  }
  h5 {
    font-size: 14px;
    text-transform: capitalize;
  }
  p {
    font-size: 13px;
    color: $lightgrey;
  }
  .text-container {
    width: 33%;
    flex-direction: column;
    h5 {
      text-align: center;
      width: 100%;
    }
    .employee-count {
      text-align: center;
      width: 100%;
    }
  }
  .member-info {
    display: flex;
    gap: 12px;
    align-items: center;
    width: 33%;
    h5 {
      width: fit-content;
      text-align: left;
    }
    .text-container {
      width: fit-content;
      gap: 0;
    }
    .img-cover {
      width: 50px;
      height: 50px;
      border-radius: 100%;
      position: relative;
      img {
        @extend %img;
        border-radius: 100%;
      }
    }
  }
}

.select {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;
  border-radius: 10px;
  background-color: $white;
  border: 1px solid $main;
  width: 150px;
  p {
    padding: 6px 10px;
    color: $black;
    transition: 0.4s;
    user-select: none;
    text-align: center;
    &.select-title {
      &:hover {
        border-radius: 8px;
      }
    }
    &:hover {
      background-color: $main;
      color: $white;
      cursor: pointer;
    }
  }
  &-inner {
    position: absolute;
    left: -1px;
    top: 100%;
    z-index: 2;
    display: none;
    width: 100%;
    background-color: $white;
    p {
      text-align: center;
      &:last-child {
        border-radius: 0 0 8px 8px;
      }
    }
  }

  &.active {
    border-radius: 10px 10px 0 0;
    p {
      &.select-title {
        border-radius: 8px 8px 0 0;
      }
    }
    .select-inner {
      display: block;
      border: 1px solid $main;
      border-top: none;
      border-radius: 0 0 10px 10px;
    }
  }
}
.filter-container {
  .btn-main {
    display: none;
  }
  width: 30%;
  padding: 2%;
  @extend %card;
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 600px;
  .filter-title {
    font-size: 30px;
    font-weight: 600;
    border-radius: 6px;
    transition: 0.4s;
  }
  .filter-inner {
    .btn-main{
      display: block;
      width: fit-content;
      margin-top: 20px;
    }
    .filter {
      width: 100%;
    }
    P {
      font-size: 16px;
      margin-bottom: 6px;
    }
    input {
      width: 96%;
      padding: 2%;
      border: 1px solid rgba($color: $main, $alpha: 0.5);
      border-radius: 8px;
      margin-bottom: 12px;
      &[type="date"]:hover {
        cursor: text;
      }
      font-family: "Dodo";
    }
  }
}
.checkbox-container{
  width: 25px;
  height: 25px;
  @extend %card;
  background-color: $main;
  cursor: pointer;
  label{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  svg{
    display: none;
    height: 15px;
    fill: $white;
  }
  &.active{
    svg{
      display: inline-block;
    }
  }
}

@import "./sections/auth";
@import "./sections/modal";
@import "./sections/stats";
@import "./sections/members";
@import "./sections/cities";
@import "./sections/tasks";
@import "adaptive";
