* {
  margin: 0;
  padding: 0;
}

input {
  border: none;
  outline: none;
  background-color: transparent;
}

@font-face {
  font-family: "Dodo";
  src: url("../fonts/DodoRounded_v2-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Dodo";
  src: url("../fonts/DodoRounded_v2-Bold.otf");
  font-weight: 600;
}
@font-face {
  font-family: "Dodo";
  src: url("../fonts/DodoRounded_v2-Medium.otf");
  font-weight: 500;
}
@font-face {
  font-family: "Dodo";
  src: url("../fonts/DodoRounded_v2-Light.otf");
  font-weight: 300;
}
@font-face {
  font-family: "Dodo";
  src: url("../fonts/DodoRounded_v2-ExtraLight.otf");
  font-weight: 200;
}
@font-face {
  font-family: "Dodo";
  src: url("../fonts/DodoRounded_v2-Thin.otf");
  font-weight: 100;
}
body {
  background-color: #f8f8f8;
}

.wrapper {
  position: absolute;
  top: 2%;
  left: 18%;
  width: 81%;
}

section {
  margin-bottom: 40px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Dodo";
  color: #303030;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-container {
  display: flex;
  gap: 10px;
  align-items: baseline;
}

.members .table, .equipment-info .equipment-container, .test-results .results-container, .modal-container .modal .modal-content form input, .modal-container .modal, .form-container .auth, .filter-container, .about-user .user-divisions, .about-user .user-info, header .container .nav-menu .btn-main {
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 2px 2px 5px 2px rgba(247, 131, 69, 0.1);
}

.equipment-info .equipment-container .equipment-stats .img-cover img, .modal-container .modal .modal-content .user-img img, .division-member .member-info .img-cover img, .about-user .user-info .user-img img, .side-bar .logo img, header .container .nav-menu .profile-preview .img-cover .avatar {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.title {
  padding: 30px 0;
  font-size: 36px;
  font-weight: 600;
  color: #303030;
}

.btn-main {
  width: fit-content;
  padding: 6px 14px;
  font-weight: 600;
  background-color: rgba(247, 131, 69, 0.3);
  border: 1px solid transparent;
  border-radius: 8px;
  color: #f78345;
  font-family: "Dodo";
  text-transform: capitalize;
  transition: 0.4s;
}
.btn-main:hover {
  cursor: pointer;
  color: #fff;
  background-color: #e35d15;
}

.btn-red {
  width: fit-content;
  padding: 6px 14px;
  font-weight: 600;
  background-color: rgba(249, 84, 65, 0.3);
  border: 1px solid transparent;
  border-radius: 8px;
  color: #f78345;
  font-family: "Dodo";
  text-transform: capitalize;
  transition: 0.4s;
}
.btn-red:hover {
  cursor: pointer;
  color: #fff;
  background-color: #e35d15;
}

header .container {
  box-shadow: 0 0 5px 2px rgba(227, 93, 21, 0.15);
  margin: 10px auto;
  border-radius: 10px;
  padding: 10px 20px;
  background-color: #f78345;
  font-family: "Dodo";
}
header .container p {
  color: #fff;
}
header .container svg {
  fill: #fff;
}
header .container .burger-menu {
  display: none;
}
header .container .page-title-container {
  gap: 12px;
  font-size: 20px;
  align-items: baseline;
}
header .container .nav-menu {
  position: relative;
  width: 20%;
}
header .container .nav-menu .btn-main {
  display: none;
  width: fit-content;
  padding: 6px 14px;
  font-weight: 600;
  background-color: rgba(249, 84, 65, 0.3);
  border: 1px solid transparent;
  border-radius: 8px;
  color: #f78345;
  font-family: "Dodo";
  text-transform: capitalize;
  transition: 0.4s;
  color: #f95441;
  position: absolute;
  top: 130%;
  right: 0;
  z-index: 999;
  text-decoration: none;
}
header .container .nav-menu .btn-main.active {
  display: block;
}
header .container .nav-menu .choose-language {
  gap: 10px;
}
header .container .nav-menu .choose-language p {
  cursor: pointer;
  font-weight: 300;
  font-size: 20px;
  padding: 4px 10px;
  border-radius: 6px;
}
header .container .nav-menu .choose-language p.active {
  font-weight: 600;
  background-color: #fff;
  color: #f78345;
}
header .container .nav-menu .choose-language p:hover {
  text-decoration: underline;
}
header .container .nav-menu .profile-preview {
  flex-direction: column-reverse;
  align-items: center;
}
header .container .nav-menu .profile-preview:hover {
  cursor: pointer;
}
header .container .nav-menu .profile-preview p {
  font-size: 14px;
}
header .container .nav-menu .profile-preview .img-cover {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-left: 12px;
}
header .container .nav-menu .profile-preview .img-cover .avatar {
  border-radius: 100%;
}

.side-bar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 15vw;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1vw;
  height: 100vh;
  box-shadow: 0 0 5px 2px rgba(227, 93, 21, 0.15);
  background-color: #f78345;
}
.side-bar .d-flex {
  justify-content: flex-start;
  gap: 16px;
}
.side-bar-item {
  padding: 5px 12px;
  border-radius: 5px;
  text-decoration: none;
  font-family: "Dodo";
  cursor: pointer;
}
.side-bar-item p {
  color: #fff;
  font-size: 20px;
}
.side-bar-item svg {
  height: 30px;
  fill: #fff;
}
.side-bar-item.active {
  background-color: white;
}
.side-bar-item.active svg {
  fill: #f78345;
}
.side-bar-item.active p {
  color: #f78345;
}
.side-bar-item:not(.active):hover {
  background-color: rgba(255, 255, 255, 0.15);
}
.side-bar .logo {
  height: 40px;
  width: 210px;
  position: relative;
  cursor: pointer;
}
.about-user {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  height: 650px;
}
.about-user label {
  opacity: 100;
  display: flex;
  transition: 0.3s;
  width: 90%;
  margin: 0 auto;
  padding: 1% 2%;
  background-color: #f78345;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.about-user label span {
  color: #fff;
  font-family: "Dodo";
  text-transform: capitalize;
  text-align: center;
}
.about-user .user-info {
  width: 32%;
  padding: 2%;
}
.about-user .user-info .user-img {
  width: 60%;
  padding-top: 60%;
  margin: 0 auto;
  border-radius: 8px;
  position: relative;
}
.about-user .user-info .user-img .text-container {
  position: absolute;
  top: 40%;
  left: 20%;
  width: 60%;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.about-user .user-info .user-img .text-container svg {
  height: 2em;
}
.about-user .user-info .user-img img {
  border-radius: 4px;
  z-index: 3;
}
.about-user .user-info .btn {
  width: fit-content;
  padding: 6px 14px;
  font-weight: 600;
  background-color: rgba(128, 128, 128, 0.3);
  border: 1px solid transparent;
  border-radius: 8px;
  color: #f78345;
  font-family: "Dodo";
  text-transform: capitalize;
  transition: 0.4s;
  color: #808080;
  margin: 10px auto;
}
.about-user .user-info h3 {
  font-size: 24px;
  color: #303030;
  text-transform: capitalize;
  margin-bottom: 16px;
}
.about-user .user-info .text-container h4 {
  font-size: 18px;
  color: #303030;
  font-weight: 500;
  text-transform: capitalize;
}
.about-user .user-info .text-container svg {
  fill: #303030;
}
.about-user .user-info .text-container p {
  color: #808080;
}
.about-user .user-info .text-container:not(:last-child) {
  margin-bottom: 12px;
}
.about-user .user-divisions {
  width: 58%;
  padding: 2%;
}
.about-user .user-divisions .divisions {
  height: 90%;
  overflow-y: scroll;
  padding-right: 2%;
}
.about-user .user-divisions .divisions::-webkit-scrollbar {
  width: 6px;
}
.about-user .user-divisions .divisions::-webkit-scrollbar-thumb {
  background-color: #f78345;
}
.about-user .user-divisions .divisions::-webkit-scrollbar-thumb:hover {
  background-color: #e35d15;
}
.about-user .user-divisions h3 {
  font-size: 24px;
  margin-bottom: 16px;
  text-transform: capitalize;
}

.division-member {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 5px;
  border-bottom: 1px solid #aaaaaa;
}
.division-member.hide {
  display: none;
}
.division-member:not(:last-child) {
  margin-bottom: 16px;
}
.division-member h5 {
  font-size: 14px;
  text-transform: capitalize;
}
.division-member p {
  font-size: 13px;
  color: #808080;
}
.division-member .text-container {
  width: 33%;
  flex-direction: column;
}
.division-member .text-container h5 {
  text-align: center;
  width: 100%;
}
.division-member .text-container .employee-count {
  text-align: center;
  width: 100%;
}
.division-member .member-info {
  display: flex;
  gap: 12px;
  align-items: center;
  width: 33%;
}
.division-member .member-info h5 {
  width: fit-content;
  text-align: left;
}
.division-member .member-info .text-container {
  width: fit-content;
  gap: 0;
}
.division-member .member-info .img-cover {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: relative;
}
.division-member .member-info .img-cover img {
  border-radius: 100%;
}

.select {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #f78345;
  width: 150px;
}
.select p {
  padding: 6px 10px;
  color: #303030;
  transition: 0.4s;
  user-select: none;
  text-align: center;
}
.select p.select-title:hover {
  border-radius: 8px;
}
.select p:hover {
  background-color: #f78345;
  color: #fff;
  cursor: pointer;
}
.select-inner {
  position: absolute;
  left: -1px;
  top: 100%;
  z-index: 2;
  display: none;
  width: 100%;
  background-color: #fff;
}
.select-inner p {
  text-align: center;
}
.select-inner p:last-child {
  border-radius: 0 0 8px 8px;
}
.select.active {
  border-radius: 10px 10px 0 0;
}
.select.active p.select-title {
  border-radius: 8px 8px 0 0;
}
.select.active .select-inner {
  display: block;
  border: 1px solid #f78345;
  border-top: none;
  border-radius: 0 0 10px 10px;
}

.filter-container {
  width: 30%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 600px;
}
.filter-container .btn-main {
  display: none;
}
.filter-container .filter-title {
  font-size: 30px;
  font-weight: 600;
  border-radius: 6px;
  transition: 0.4s;
}
.filter-container .filter-inner .btn-main {
  display: block;
  width: fit-content;
  margin-top: 20px;
}
.filter-container .filter-inner .filter {
  width: 100%;
}
.filter-container .filter-inner P {
  font-size: 16px;
  margin-bottom: 6px;
}
.filter-container .filter-inner input {
  width: 96%;
  padding: 2%;
  border: 1px solid rgba(247, 131, 69, 0.5);
  border-radius: 8px;
  margin-bottom: 12px;
  font-family: "Dodo";
}
.filter-container .filter-inner input[type=date]:hover {
  cursor: text;
}

.form-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-container .auth {
  width: 30%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.form-container .auth input:not([type=button]) {
  width: 80%;
  padding: 3%;
  border: 1px solid #f78345;
  border-radius: 8px;
  font-family: "Dodo";
  font-size: 16px;
}
.form-container .auth .btn-main {
  width: fit-content;
  padding: 6px 14px;
  font-weight: 600;
  background-color: rgba(247, 131, 69, 0.3);
  border: 1px solid transparent;
  border-radius: 8px;
  color: #f78345;
  font-family: "Dodo";
  text-transform: capitalize;
  transition: 0.4s;
  width: 86%;
  padding: 16px 0;
  font-size: 16px;
}

.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 120vh;
  background-color: rgba(48, 48, 48, 0.2);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
.modal-container.open {
  display: flex;
}
.modal-container .modal {
  width: 40%;
  padding: 20px;
  cursor: default;
  position: relative;
}
.modal-container .modal .exit {
  font-size: 20px;
  font-weight: 600;
  font-family: "Dodo";
  color: #808080;
  position: absolute;
  top: 2%;
  right: 2%;
  padding: 4px 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.4s;
}
.modal-container .modal .modal-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modal-container .modal .modal-content .user-img {
  width: 40%;
  padding-top: 40%;
  position: relative;
  border-radius: 8px;
}
.modal-container .modal .modal-content .user-img img {
  border-radius: 8px;
}
.modal-container .modal .modal-content .user-info {
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.modal-container .modal .modal-content .user-info h4 {
  font-size: 18px;
  text-transform: capitalize;
}
.modal-container .modal .modal-content .user-info p {
  font-size: 16px;
  color: #808080;
}
.modal-container .modal .modal-content form {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.modal-container .modal .modal-content form .select {
  width: 40%;
  height: 33px;
}
.modal-container .modal .modal-content form .select.active .select-inner {
  display: flex;
}
.modal-container .modal .modal-content form .select .select-inner {
  padding-bottom: 10px;
  display: none;
  flex-direction: column;
  gap: 8px;
}
.modal-container .modal .modal-content form p {
  margin-bottom: -10px;
  font-size: 14px;
  color: #808080;
}
.modal-container .modal .modal-content form input {
  width: 100%;
  padding: 12px;
}

.test-results {
  margin-top: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.test-results .toggle-filter {
  width: 100%;
  display: none;
}
.test-results .title {
  padding: 0;
  margin-bottom: 16px;
  font-size: 30px;
}
.test-results .results-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.test-results .results-container {
  padding: 2% 0 2% 2%;
  width: 60%;
  height: 600px;
  position: relative;
}
.test-results .results-container .results {
  height: 85%;
  overflow-y: scroll;
  padding-right: 2%;
}
.test-results .results-container .results::-webkit-scrollbar {
  width: 6px;
}
.test-results .results-container .results::-webkit-scrollbar-thumb {
  background-color: #f78345;
}
.test-results .results-container .results::-webkit-scrollbar-thumb:hover {
  background-color: #e35d15;
}
.test-results .results-container .nav-buttons {
  position: absolute;
  top: 90%;
  right: 3%;
}
.test-results .results-container .nav-buttons .btn-main {
  width: 80px;
}

.equipment-info {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.equipment-info .equipment-container {
  padding: 2% 0 2% 2%;
  width: 60%;
  height: 600px;
}
.equipment-info .equipment-container .btn-main {
  display: none;
}
.equipment-info .equipment-container .equipment {
  height: 85%;
  overflow-y: scroll;
  padding-right: 2%;
}
.equipment-info .equipment-container .equipment::-webkit-scrollbar {
  width: 6px;
}
.equipment-info .equipment-container .equipment::-webkit-scrollbar-thumb {
  background-color: #f78345;
}
.equipment-info .equipment-container .equipment::-webkit-scrollbar-thumb:hover {
  background-color: #e35d15;
}
.equipment-info .equipment-container .toggle-filter {
  width: 30%;
  display: none;
}
.equipment-info .equipment-container .title {
  padding: 0;
  margin-bottom: 16px;
  font-size: 30px;
}
.equipment-info .equipment-container .equipment-stats {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  align-items: center;
  border-bottom: 1px solid #aaaaaa;
  padding-bottom: 5px;
}
.equipment-info .equipment-container .equipment-stats.hide {
  display: none;
}
.equipment-info .equipment-container .equipment-stats:not(:last-child) {
  margin-bottom: 15px;
}
.equipment-info .equipment-container .equipment-stats p {
  font-size: 13px;
}
.equipment-info .equipment-container .equipment-stats .text-container {
  width: 33%;
  flex-direction: column;
  gap: 0;
}
.equipment-info .equipment-container .equipment-stats .text-container .name {
  font-size: 14px;
}
.equipment-info .equipment-container .equipment-stats .text-container .school {
  color: #808080;
}
.equipment-info .equipment-container .equipment-stats .img-cover {
  width: 50px;
  height: 50px;
  position: relative;
  border-radius: 100%;
}
.equipment-info .equipment-container .equipment-stats .img-cover img {
  border-radius: 100%;
}
.equipment-info .equipment-container .equipment-stats .date, .equipment-info .equipment-container .equipment-stats .time {
  width: 21%;
  text-align: center;
}

.members {
  margin-top: 40px;
}
.members select {
  width: fit-content;
  padding: 6px 14px;
  font-weight: 600;
  background-color: rgba(247, 131, 69, 0.3);
  border: 1px solid transparent;
  border-radius: 8px;
  color: #f78345;
  font-family: "Dodo";
  text-transform: capitalize;
  transition: 0.4s;
  outline: none;
  border: none;
}
.members select option {
  border: none;
  outline: none;
}
.members .row {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.members .row.hide {
  display: none;
}
.members .column {
  width: 22%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px 0;
}
.members .column p {
  text-align: center;
}
.members .edit-column {
  width: 10%;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}
.members .edit-column svg {
  cursor: pointer;
  padding: 8px;
  background-color: transparent;
  border-radius: 8px;
  transition: 0.4s;
}
.members .edit-column svg:hover {
  fill: #f78345;
  background-color: rgba(227, 93, 21, 0.1);
}
.members .table {
  width: 98%;
  padding: 1%;
}
.members .table-title {
  font-weight: 600;
}
.members .table-title .column:not(:last-child) {
  border-bottom: 1px dashed #f78345;
}
.members .top-menu {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin-bottom: 20px;
}
.members .top-menu-container {
  width: fit-content;
  display: flex;
  gap: 10px;
}

@media screen and (max-width: 1100px) {
  .form-container .auth {
    width: 90%;
    padding: 2%;
  }
  h1 {
    font-size: 30px;
  }
  section {
    margin-bottom: 20px;
  }
  .side-bar {
    display: none;
    animation-duration: 300ms;
    animation-direction: normal;
  }
  .side-bar.open {
    display: flex;
    width: 80vw;
    z-index: 999;
    background-color: #f78345;
    padding-top: 20px;
    animation-name: openSidebar;
  }
  .side-bar-item {
    font-size: 18px;
  }
  .side-bar-item svg {
    height: 20px;
  }
  .wrapper {
    left: 0%;
    top: 0;
    padding: 2%;
    width: 96%;
  }
  .wrapper header .container {
    padding: 10px 14px;
  }
  .wrapper header .container .burger-menu {
    display: flex;
    flex-direction: column;
    gap: 3px;
    cursor: pointer;
  }
  .wrapper header .container .burger-menu .line {
    width: 16px;
    height: 2px;
    background-color: #fff;
  }
  .wrapper p {
    font-size: 14px;
  }
  .wrapper header .container .page-title-container svg {
    display: none;
  }
  .wrapper header .container .nav-menu {
    width: 50%;
  }
  .wrapper header .container .nav-menu .choose-language p {
    font-size: 14px;
  }
  .wrapper header .container .nav-menu .profile-preview p {
    font-size: 12px;
  }
  .wrapper .title {
    padding: 16px 0;
    font-size: 24px;
  }
  .wrapper h2 {
    font-size: 20px;
  }
  .wrapper .user-profile .profile-card .avatar {
    width: 100px;
    height: 100px;
  }
  .wrapper .about-user {
    flex-direction: column;
    gap: 20px;
  }
  .wrapper .about-user .user-info {
    width: 96%;
    padding: 2%;
  }
  .wrapper .about-user .user-info h3 {
    font-size: 18px;
  }
  .wrapper .about-user .user-info h4 {
    font-size: 16px;
  }
  .wrapper .about-user .user-divisions h3 {
    font-size: 18px;
  }
  .wrapper .about-user .user-divisions {
    padding: 2%;
    width: 96%;
    height: 650px;
  }
  .wrapper .division-member .member-info {
    width: 45%;
  }
  .wrapper .about-user .user-info .user-img label {
    font-size: 14px;
  }
  .user-profile .profile-card .card-content .info span {
    font-size: 14px;
  }
  .modal-container .modal {
    width: 80%;
  }
  .modal-container .modal .modal-content {
    flex-wrap: wrap;
  }
  .modal-container .modal .modal-content .user-img {
    width: 75%;
    padding-top: 75%;
    margin-bottom: 10px;
  }
  .modal-container .modal .modal-content .user-info {
    width: 100%;
  }
  .modal-container .modal .modal-content .user-info h4 {
    font-size: 16px;
  }
  .modal-container .modal .modal-content .user-info p {
    font-size: 14px;
  }
  .test-results {
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
  }
  .test-results .results-container, .test-results .equipment-container {
    width: 96%;
  }
  .members .edit-column svg {
    height: 1.2em;
    padding: 4px;
  }
  .members .column {
    text-align: center;
  }
  .filter-container {
    display: none;
    width: 96%;
    height: fit-content;
    margin-bottom: 12px;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    animation-duration: 300ms;
  }
  .filter-container.open {
    display: block;
  }
  .filter-container .d-flex {
    display: flex;
    justify-content: space-between;
  }
  .filter-container .btn-main {
    display: block;
  }
  .filter-container .filter-title {
    font-size: 24px;
  }
  .filter-container .filter-inner p {
    font-size: 12px;
  }
  .equipment-info .equipment-container .toggle-filter {
    display: block;
    margin-right: 2%;
  }
  .test-results .toggle-filter {
    display: block;
    padding: 6px 0;
    width: 98%;
  }
  .equipment-info .equipment-container {
    width: 100%;
  }
  .test-results .title {
    margin-bottom: 0;
  }
  .test-results .results-info {
    flex-direction: column;
  }
}
@keyframes openSidebar {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes closeSidebar {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes openFilter {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes closeFilter {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

/*# sourceMappingURL=style.css.map */
